---
title: "Koppe Accuracy"
description: "Get to know the Koppe-Accuracy and test elevation values on a map."
date: 2020-06-05
tags: koppe height elevation lines accuracy error
references:
  - author: "spektrum.de"
    title: "Hoehengenauigkeit"
    date: 2001
    link: https://www.spektrum.de/lexikon/kartographie-geomatik/hoehengenauigkeit/2196
  - author: "Wilfried Karel"
    title: "Quality Parameteres of Digital Terrain Model"
    date: "unknown"
    link: https://publik.tuwien.ac.at/files/PubDat_120667.pdf 
head_additional: >
  {% include mapbox.html turf=true geocoder=true %}
foot_additional: >
  {% include mathjax.html %}
  {% include svgjs.html %}
  <script src="{{'elevation.js' async}}"></script>
  <script src="{{ 'ka.js' | prepend: page.url | absolute_url }}"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
---

<div class="row">
    <div class="col">
        <p>Height and position accuracy are an essential feature of topographic maps with contour lines or elevation layers. For cartography in high mountains the correlations between accuracy of recording, scale, equidistance are highly important.
        <br />
        The Koppe error formula was originated during alignment for long-distance train routes on the basis of large-scale contour maps. The same formula is used with Digital Elevation Models where similar detection methods, such as airborne laser scanning or digital stereo photogrammetry are used. Therefore the measurement error behaves equally for methods. With many attempts to improve the formula, it is still a valid definition with flexibility forms as you will learn further. 
        <br />
        </p>
    </div>
</div>

<h2 class="mt-5">Formula Expression</h2>
<hr>
<div class="row">
  <div class="col">
    <p>Accuracy carries geometrical meaning. It should be reduced or tested empirically. The method for this is the Koppe Formula. \(\sigma_Z\) is the standard deviation in height of measurement: 
      \[ \sigma_H = \sigma_Z + \sigma_Gtan \alpha  \]
    \(\sigma_G\) is the standard deviation in scale of measurement:
      \[ \sigma_L = \sigma_G + \sigma_Zcotan \alpha  \]
      <br />
      For simplification we assume the deviation of layer height as factor \(A\) and the deviation of scale as \(B\). In this table you can see the differences for some countries.</p>
      <div class="table-responsive-md">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col-3">Country Code</th>
            <th scope="col-3">Scale</th>
            <th scope="col-3">Factor A</th>
            <th scope="col-3">Factor B</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" id="aus">A</th>
            <td id="aus-scale">1:10.000</td>
            <td id="aus-a">1 m</td>
            <td id="aus-b">3 m</td>
          </tr>
          <tr>
            <th scope="row" id="ch">CH</th>
            <td id="ch-scale">1:50.000</td>
            <td id="ch-a">1,5 m</td>
            <td id="ch-b">10 m</td>
          </tr>
          <tr>
            <th scope="row" id="usa">USA</th>
            <td id="usa-scale">1:50.000</td>
            <td id="usa-a">1,8 m</td>
            <td id="usa-b">15 m</td>
          </tr>
        </tbody>
      </table>
      <br />
      <p>Many modifications can be made with those two factors. \(A\) and \(B\) have simple linear dependencies with the elevation slope. Asume you have the same elevation but in two landscapes, highland and lowland.</p>
    </div>
    <br />
    <div class="row">
      <div class="col-md">
        <strong>Height Deviation</strong>
        <p>
        The mean square error in height is higher with a steeper elevation slope. It stems with:  
        <br /> \[ mH = \pm(A + B \cdot \tan \alpha) \] <br>This means, looking at the profile view on the right, for highlands a higher mean error than in lowlands.</p>
      </div>
      <div class="col-md">
        <img src="imgs/height.svg" class="img-fluid mx-auto d-block">
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md">
        <strong>Position Deviation</strong>
        <p>
        For horizontal accuracy the formula is reversed. The shallower the higher the mean sqaure error in postition:
        <br /> \[ mL = \pm(B + A \cdot \cot \alpha) \] <br>Thus follows for the top view on the right, in lowlands a higher mean error than in highlands.</p>
      </div>
      <div class="col-md">
        <img src="imgs/position.svg" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
</div>
<h3 class="mt-5">Hands-On</h2>
<hr>
<div class="row mb-3">
    <div class="col">First select a Country Code, where Factors \(A\) and \(B\) are used from the above table. Then click on the map for a Location with Elevation measurement. <br />The Mean Error in Height and Position will be calculated with the elevation angle at this Location. For comparison try different areas of steeper or shallower ground.</div>
</div>

<div class="card shadow">
  <div class="card-header h5">
    Map and Elevation layer
  </div>
  <div class="card-body pb-2">
    <div id="map" class="margin-top border-bottom" style="height: 300px;"></div>

    <div class="card-body px-3 pt-2">
      <div class="row d-flex align-items-center">
        <!-- items inside -->
        <div class="eleInfo-loc col-sm-3">
          <div>Latitude: <span id='lat'></span></div>
          <div>Longitude: <span id='lng'></span></div>
          <div>Elevation: <span id='ele'></span></div>
        </div>
        <div class="eleInfo-scale col-sm-2 px-3">
          <div class="form-group">
            <label for="ccode-select">Country Code</label>
            <select class="form-control" id="ccode-select"></select>
          </div>
        </div>
        <div class="eleInfo-err col-sm-5">
          <div>Mean Error in Height: <span id="me-height"></span></div>
          <div>Mean Error in Position: <span id="me-pos"></span></div>
        </div>
        <div class="col-sm-2 text-right">
          <button type="button" id="ka-clear" class="btn btn-sm btn-warning">
            <i class="mdi mdi-delete mr-1"></i>Clear
          </button>
        </div>
      </div>
      <div class="row d-inline-flex">
        <span id="elevation_loading" class="mdi mdi-loading mdi-spin text-primary mx-2" style="visibility: hidden;"> Loading...</span>
      </div>
    </div>    
  </div>
</div>