---
layout: playground
title: "Legal Notice"
bodyaddon: class="text-justify"
---



<h4 class="text-left">
  <i class="mdi mdi-map-marker text-warning mr-3"></i>Address
</h4>
<address>
  <strong>Lehrstuhl für Kartographie und Visuelle Analytik</strong><br>
  Technical University of Munich<br>
  Arcisstraße 21<br>
  80333 Munich<br>
</address>

<h4 class="text-left">
  <i class="mdi mdi-account text-warning mr-3"></i>Authorized representative
</h4>
<p>
  Technical University of Munich is a statutory body under public law. It is legally represented by the President, Prof. Dr. Dr. h.c. mult. Wolfgang A. Herrmann.
</p>

<h4 class="text-left">
  <i class="mdi mdi-bank text-warning mr-3"></i>Competent supervisory authority
</h4>
<p>
  Bavarian State Ministry of Science and the Arts
</p>

<h4 class="text-left">
  <i class="mdi mdi-security-account text-warning mr-3"></i>Content responsibility
</h4>
<p>
  Prof. Dr.-Ing. Liqiu Meng<br>
  Arcisstr. 21<br>
  80333 München<br>
  E-Mail: liqiu.meng(at)tum.de
</p>

<hr>

<h4 class="text-left">
  <i class="mdi mdi-book-open text-secondary mr-3"></i>Accountability for content
</h4>
<p>
  The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§&nbsp;8&nbsp;to&nbsp;10 of the Telemedia&nbsp;Act&nbsp;(TMG).
</p>
<h4 class="text-left">
  <i class="mdi mdi-link text-secondary mr-3"></i>Accountability for links
</h4>
<p>
  Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
</p>
<h4 class="text-left">
  <i class="mdi mdi-copyright text-secondary mr-3"></i>Copyright
</h4>
<p>
  Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§&nbsp;44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§&nbsp;106 of the copyright law).
</p>
<h4 class="text-left">
  <i class="mdi mdi-shield-half-full text-secondary mr-3"></i>Privacy
</h4>
<p>
  {{ site.title }} does not collect or store any personal data nor does it use an anonymized analytics tool. However, it use the following third party tools and services, therefore please refer to their privacy policy.
  <ul>
    <li><a href="https://about.gitlab.com/privacy/" target="_blank" rel="noopener">GitLab</a></li>
    <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener">Google Fonts</a></li>
    <li><a href="https://www.google.com/intl/de_de/help/terms_maps.html" target="_blank" rel="noopener">Google Maps</a></li>
    <li><a href="https://www.microsoft.com/en-us/maps/product/terms" target="_blank" rel="noopener">Bing Maps</a></li>
    <li><a href="https://h5p.org/privacy" target="_blank" rel="noopener">H5P</a></li>
    <li><a href="https://www.mapbox.com/privacy/" target="_blank" rel="noopener">Mapbox</a></li>
  </ul>
</p>
<!-- http://www.muster-vorlagen.net -->
